/*
	Example Styling for Useful Functions
*/
/* line 7, ../../src/scss/useful-gestures.scss */
.useful-tests dt {
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 13, ../../src/scss/useful-gestures.scss */
.useful-tests dd {
  display: block;
  margin: 0 0 1.3em 0;
  padding: 0;
}

/* line 19, ../../src/scss/useful-gestures.scss */
#gestures-test {
  border: solid 1px #333;
  height: 256px;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
  width: auto;
}
/* line 26, ../../src/scss/useful-gestures.scss */
#gestures-test span {
  border: solid 1px Red;
  position: absolute;
  height: 25%;
  left: 25%;
  padding: 1em;
  width: 25%;
  top: 75%;
}
